<section>
    <div fxLayoutAlign="center none">
        <div class="product__list">

            <div fxLayout="row wrap" class="product__box">
                <h6 fxFlex.lg="70"> Nome </h6>
                <h6 fxFlex.lg="30"> Preço </h6>
            </div>

            <div class="box__list">
                <div fxLayout="row wrap" (click)="addNewProduct();" class="product__box">
                    <h6 fxFlex.lg="100"> Adicionar novo Produto </h6>
                </div>
                <div fxLayout="row wrap" class="product__box" *ngFor="let product of ProductList">
                    <h6 fxFlex.lg="70"> {{product.name}} </h6>
                    <h6 fxFlex.lg="30"> {{product.price}} </h6>
                </div>
            </div>

        </div>
    </div>
</section>